 /* h1, h2, h3, h4, p{
        margin: 0; 
        padding: 0;
    } */

    body{
        margin: 0; padding: 0;
    }
    #motherSolid{
        width: 70vw;
        height: 60vh;
        margin: 0;
        padding-top: 40vh;
        padding-left: 30vw;

    }

    #motherGradient{
        width: 77vw;
        height: 65vh;
        padding-top: 35vh;
        padding-left: 23vw;
       


    }

    .input, .gradient{
        
       margin: 0;
       padding: 0;
        border-radius: 100px;
        border: 1px solid  rgb(49, 49, 49);
        padding-left: 3vw;
        width: 35vw;
        font-size: 0.6em;
        font-weight: 60;
        font-family: 'Poppins', sans-serif;
    }

    .gradient{
        /* margin-left: 20vw; */
        width: 50vw;
        padding: 3vh 0vh 3vh 10vh;
        position: relative;
        
    }



    .gradient input{
        margin: 0.1em 0.1em;
        width: 33%;
    }


    input{
        width: 25vw;
        border: 1px solid transparent;
        padding: 0vh 0vh 0vh 0.9vh;
        font-size: 1.9em;
        font-weight: 60;
        font-family: 'Poppins', sans-serif;
        border-radius: 100px;
        text-align: center;

        
    }


    #gradientButton, #solidButton{
        font-family: 'Poppins', sans-serif;
        border: 1px solid black;
        border-radius: 1000px;
        margin: 0 1em;
        font-size: 2em;
        padding: 0.2em 0.5em;
        text-align: left;
        cursor: pointer;
        background-color: white;
        
    }

     #gradientButton p, #solidButton p{
        background: -webkit-linear-gradient(red, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        display: inline-block;
        text-align: left;
        
        
    }


    .diff{
        font-size: 1.9em;
        display: inline-block;
        margin: 0 0.4em;
        color: black;
        background: linear-gradient();
        position: relative;
    }




    .gradient h1{
        position: fixed;
        top: 30vh;
        right: 25vw;
        opacity: 1;
        font-family: 'Poppins', sans-serif;
        font-weight: lighter;
        background-color: white;
        text-align: center;
        border-radius: 1000px;
        height: 40px;
        width: 40px;
        box-shadow: 0px 0px 3px 2px grey;
        cursor: pointer;
        color: black;
        display: inline-block;
        


    }





    /* RESPONSIVNESS BEGINS HERE */




    
@media (min-width: 760px) and (max-width: 1024px) {

   #motherSolid{
       width: 70vw;
       height: 70vh;
       margin: 0;
       padding: 30vh 0 0 30vw;
   }

   .input input{

    width: 60%;
    padding: 0;

   }

   
   #motherGradient{
    width: 92vw;
    height: 70vh;
    padding-left: 8vw;
    padding-top: 30vh;
   }

   .gradient{
       width: 70vw;
   }

}



@media (min-width: 320px) and (max-width: 480px){

  #motherSolid{

    width: 100vw;
    height: 50vh;
    margin: 0;
    padding: 50vh 0 0 0 ;


  }

  .input{
      width: 90vw;
      margin: 0 auto;

  }

  .input input{
      width: 70%;
  }

  #motherGradient{
      width: 98vw;
      height: 60vh;
      margin: 0 auto;
      padding: 40vh 0 0 0 ;

  }

  .gradient{
      width: 100%;
      margin: 0 auto;
      padding: 0.1vh;
      font-size: 0.45em;
  }

  .gradient .input{
      width: 10%;
  }








}
   


#backToSolid{
    display: none;
}